body{
	margin:0;
}

.navbar-brand { 
    height: auto ! important;
}
@media (min-width: 768px){
.navbar-nav>li>a { 
    line-height: 89px ! important;
};
} 

.navbar-nav>li>a{
	color:black! important;
	font-family: "Arial Black", Gadget, sans-serif ! important;
}

.navbar-nav>li:hover , .navbar-nav>li:active {
	background:#4791F6 ! important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      background-color: #4791F6 ! important;
}
.navbar { 
     margin-bottom: 0px ! important; 
}
.navbar-default {
    background-color: #eee ! important;
}